/* backgroud color added here */
* {
    background-color: lightblue;
}
/* div container styling done   */
div {
    text-align: center;
}
/* for container styling was done in form container */
form {
    text-align: center;
    padding-top: 500px;
}
