/* backgroud color added here */
* {
    background-color: lightblue;
}
/* div container styling done   */
div {
    text-align: center;
}
/* for container styling was done in form container */
form {
    text-align: center;
    
}
/* media size */
@media screen and (max-width: 992px;){
    body{
        background-color: aqua;
    }
}
@media screen and (max-width: 768px;){
    body{
        background-color: rgb(205, 103, 60);
    }
}


